

.full-width{
	width : 80%;

	@media screen and (max-width : 520px) {
		width : 100%;
	}
}
.center{
	margin: 0 auto;
	margin-top: 30%;
	width : 60%;
	padding: 20px;
	@extend .card-2;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	transition: all 0.7s ease-in-out;

	@media screen and (max-width : 520px) {
		width : 80%;
		padding: 10px;
		font-size: 80%;
	}

	// &:hover {
	// 	-webkit-transform: rotateY(180deg);
	// 	transform: rotateY(180deg);
	// 	opacity: 1;
		

	// }

	.top{
		
		background: #3f51b5;
		margin: -20px;
		margin-bottom: 25px;
		height: 60px;

		@media screen and (max-width : 520px) {
			margin : -10px;
			margin-bottom: 25px;
		}


	}


	.form {
		margin: 0 auto;
		width : 60%;
	}

	.title {
		padding: 20px;
		font-size: 125%;
		color: white;
		text-align: center;
	}

	.btn {
		width: 90px;
		background:#3f51b5 ;
		color: white;
		padding: 10px;
		border: none;
		margin: 0 auto;

		@extend .card-2;
		
		&:disabled {
			box-shadow: none;	
		}
	}

	

}

.card-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-2 {
	box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
  }

